<!-- REFERENCED FROM THE PROFESSOR AHMED'S VIDEOS -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= title %></h1>
  </div>
</div>
</main>

<!-- MAKING THE INDEX CALL THE CORRECT .ejs FILE ACCORDING TO THE main_content-->
<% if(title == "Home")  { %>
  <%- include main_content/home.ejs %>

<% } else if (title == "About Me") { %>
  <%- include main_content/about.ejs %>

<% } else if (title == "Projects") { %>
    <%- include main_content/projects.ejs %>
    
<% } else if (title == "Contact Me") { %>
  <%- include main_content/contact.ejs %>
<% } %>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>