<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= title %></h1>
  </div>
</div>
</main>

<% if(title == "Home")  { %>
  <%- include main_content/home.ejs %>
  <% } %>

<% if(title == "About Me")  { %>
  <%- include main_content/about.ejs %>
  <% } %>

<% if(title == "Projects")  { %>
  <%- include main_content/projects.ejs %>
  <% } 
%>

<% if(title == "Contact Me")  { %>
  <%- include main_content/contact.ejs %>
  <% } 
%>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>


